<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <h1>Hello <%= current_user.username %></h1>
  <h3>Home Page</h3>

  <body>
    <%= yield %>
  </body>
</html>
